/* Reset de documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables*/

:root {
  --primary-color: #141c2f;
  --secondary-color: #1f2a48;
  --color-parrafo: #608eaa;
  --links-color: #029bd7;
  --boton-color: #0079ff;
  --white-color: #ffffff;
  --font-size: 16px;
  --font-size-mensaje: 24px;
  --font-size-title: 14px;
  --font-size-info: 18px;
}
body {
  background-color: var(--primary-color);
}
p {
  color: var(--color-parrafo);
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 2%;
  width: 800px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  background-color: var(--secondary-color);
  width: 100%;
  height: 75px;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  border-radius: 10px;
}
.buscador-lupa {
  width: 30px;
  filter: invert(39%) sepia(98%) saturate(1625%) hue-rotate(168deg)
    brightness(96%) contrast(98%);
  height: 40%;
  background-color: transparent;
}
.header__input {
  padding-left: 10px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60%;
  color: var(--white-color);
}

.btn-search {
  width: 75%;
  height: 50%;
  background-color: var(--boton-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.main {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.main-imagen {
  grid-area: img;
  display: flex;
  justify-content: center;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.number {
  color: var(--white-color);
}
.main-content {
  display: grid;
  color: azure;
  width: 100%;
  padding: 30px;
  grid-template-columns: 0.6fr repeat(2, 1fr);
  grid-template-rows: 1.5fr 1.1fr 1fr 1.5fr;
  grid-template-areas:
    "img perfil fecha"
    ". description description"
    ". info info"
    ". address links";
}
.main-content > p {
  grid-column: 1/-1;
  grid-row: 1/2;
  font-size: var(--font-size-mensaje) !important;
}
.main-content > img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
}
p.text {
  font-size: var(--font-size);
}

.perfil {
  grid-area: perfil;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-title);
  gap: 30px;
}
.description {
  grid-area: description;
  text-align: justify;
  font-size: var(--font-size);
  line-height: 19px;
}
.link-perfil {
  color: var(--links-color);
  text-decoration: none;
  font-size: var(--font-size);
}
.fecha {
  grid-area: fecha;
  text-align: end;
  font-size: var(--font-size);
}
.info {
  grid-area: info;
  border-radius: 8px;
  background-color: var(--primary-color);
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-info);
  font-weight: bolder;
}
.address {
  grid-area: address;
  justify-content: center;
}
.links {
  grid-area: links;
  justify-content: center;
}

.description,
.info {
  padding: 15px;
}
.address > div,
.links > div {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 5px;
}
.icono {
  width: 20px;
  filter: invert(100%) sepia(4%) saturate(229%) hue-rotate(264deg)
    brightness(116%) contrast(87%);
}

.address,
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.address a,
.links a {
  color: var(--color-parrafo);
  text-decoration: none;
  font-size: var(--font-size);
}
@media only screen and (max-width: 400px) {
  .info {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    flex-direction: column;
    row-gap: 30px;
  }
  .form {
    grid-template-columns: 1fr 6fr 2.7fr;
  }
  .btn-search {
    height: 40%;
    width: 80%;
    border-radius: 7px;
    padding: 6px;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.2fr 0.1fr 0.5fr 1fr;
    grid-template-areas:
      "img img"
      "perfil perfil"
      "fecha fecha"
      "description description"
      "info info"
      "address address"
      "links links";
    gap: 10px;
  }
  .perfil {
    flex-direction: column;
    font-size: var(--font-size-title);
    gap: 10px;
    text-align: center;
  }
  .description {
    text-align: left;
  }

  .fecha {
    text-align: center;
  }
  .address {
    padding-top: 10px;
  }
  .address,
  .links {
    row-gap: 10px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
}
